<section class="text_with_img">
	<h2 class="section_header">Header</h2>
	<div class="content_wrapper">
		<div class="text_block">Lorem, ipsum, dolor sit amet consectetur adipisicing elit. At suscipit explicabo esse, modi nisi corrupti praesentium asperiores ratione blanditiis ab quibusdam quaerat, exercitationem nobis ea earum atque numquam excepturi, est, quae dicta vitae ut eius. Veritatis, libero fugiat necessitatibus ex unde corrupti labore voluptates aspernatur autem, ipsam alias odio pariatur?</div>
		<div class="img_block"></div>
	</div>
</section>

{% schema %}
  {
    "name": "Section name",
    "settings": [],
  	"presets": [{
    	"name": "Text with image",
   		"category": "Text"
    	
  	}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
