.nav {
	margin: 0 auto;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	a {
		color: #000;
	}
}

.text_with_img {
	h2 {
		font-size: 40px;
		font-weight: 600;
		color: pink;
	}
}